.DigitRoll__Cell {
    margin: 0 5px;
    border: 1px solid rgb(255, 255, 255);
    background: rgb(70, 65, 70);
    font-size: 80px;
    color: rgb(255, 255, 255);
}

.DigitRoll {
    border: none !important;
}

.DigitRoll__Divider {
    width: 1px;
}

.mainContainer {
    height: 40vh;
    width: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
